<h1>Sounds#edit</h1>

<% form_with(model: @sound) local: true do |f| %>
  <=% f.label :title, 'メッセージ' %>
  <=% f.text_field :title %>
  <=% f.label :description, '説明' %>
  <=% f.text_field :description %>

  <=% f.submit '更新する' %>
<% end %>
